@import "define";
#header{
  @extend %df;
}
.header-logo{
  height: 44px;
  width: 88px;
  margin-right: 10px;
}
.mui-input-row{
  @extend %df1;
}
.container{
  @extend %pa;
  top: 44px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.main-product{
  @extend %clearfix;
  margin: 20px 10px 0;
}
.product-item{
  @extend %fl;
  @extend %tac;
  width: 25%;
}
.product-img{
  @extend %db;
  @extend %ma;
  width: 70%;
  height: auto;
  border-radius: 50%;
}
.product-span{
  @extend %f14;
  @extend %c6;
  line-height: 30px;
}
